################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestingBlackHole/obj
/TestingBlackHole/bin/Debug/net6.0
/.vs
